* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    height: 100%;
    width: 100%;
    background-image: url("Images/Hell.jpg");
    background-size: cover;
}

.box {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.700);
    padding: 1vw;
}

video {
    height: 100%;
    width: 100%;
}

.container.dashboard {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 200px; /* Adjust width as needed */
    height: 31%; /* Full height */
    color: white; /* Text color */
    padding: 20px; /* Padding inside the container */
    box-shadow: 2px 0 5px rgba(0,0,0,0.5); /* Optional shadow for better visibility */
}