* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    height: 100%;
    width: 100%;
    background-image: url("Images/Hell.jpg");
    background-size: cover;
}

.container.dashboard {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 15%; /* Adjust width as needed */
    height: 16%; /* Full height */
    color: white; /* Text color */
    padding: 5px; /* Padding inside the container */
    box-shadow: 2px 0 5px rgba(0,0,0,0.5); /* Optional shadow for better visibility */
}

@media (max-width: 768px) {
    .container.dashboard {
        width: 50%; /* Adjust width for smaller screens */
        height: auto; /* Adjust height for smaller screens */
        padding: 10px; /* Adjust padding for smaller screens */
    }
}

@media (max-width: 480px) {
    .container.dashboard {
        width: 80%; /* Adjust width for very small screens */
        height: auto; /* Adjust height for very small screens */
        padding: 5px; /* Adjust padding for very small screens */
    }
}


h1 {
    height: auto;
    width: auto;
    background-color: rgba(0, 0, 0, 0.700);
    color: red;
    font-size: 3rem;
    text-align: center;
    margin-top: 2rem;
}
.box {
    height: fit-content;
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 1rem;
    padding: 1rem;
}

.box-1 {
    height: fit-content;
    width: fit-content;
    text-align: center;
}

p {
    background-color: rgba(0, 0, 0, 0.700);
    color: red;
    padding: 1rem;
    font-size: 1rem;
    font-weight: bold;
    text-align: start;
}

button {
    height: auto;
    width: auto;
    font-size: 1rem;
    /* font-weight: bold; */
    padding: 0.2rem;
    cursor: pointer;
    background-color: red;
    color: black;
}

.box-2 {
    height: fit-content;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.700);
    padding: 1rem;
}

video {
    height: auto;
    width: 60vw;
}